<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Crete+Round' rel='stylesheet' type='text/css'>
        <link href="/static/styles.css" rel="stylesheet">
        <title>{% block title %}INSERT TITLE HERE{% endblock %}</title>
    </head>
    <body>
        <div class="container">
            {% block body %}
                CONTENT GOES HERE
            {% endblock %}
        </div>
    </body>
</html>