{% extends 'base.html' %}

{% block title %}Careers Home Page - BallooniCorp{% endblock %}


{% block body %}
    <div class="homepage">
        <h1>Welcome to Careers @ BallooniCorp!</h1>
        <p>
            We have a lot of amazing career opportunities at BallooniCorp, the world's number one provider of party app-vites!
        </p>
        <a href="/application-form">
            <button class="continue">
                See these opportunities!
            </button>
        </a>
    </div>
{% endblock %}